/.mixin.out
/config
/crash-reports
/data
/defaultconfigs
/downloads
/journeymap
/kiwipacks
/logs
/moddata
/saves
/schematics
/screenshots
/simplebackups
/command_history.txt
/fabricloader.log
/options.txt
/realms_persistence.json
/usercache.json
/usernamecache.json
/CreateModpackRepo-master
/cherishedworlds-favorites.dat
/altair@192.168.0.188
/servers.dat
/servers.dat_old
/debug